.wall_post{:style=>"clear:both;", :id => "post_#{post.id}"}
	%div{:style=>"float:left;"}
		=image_tag(post.user.avatar_url)
	%div{:style=>"margin-left: 58px;"}
		.wall_post_name
			=post.user.nick
			%small{:style=>"font-size:8pt;color:#999999"}
				=post.user.provider
		.wall_post_body=post.body
		.wall_post_timestamp=post_timestamp(post)
	%div{:style=>"clear:both;"}