%ul.unstyled
	- users.each do |user|
		%li
			%div{:style=>"float: left;"}
				=image_tag(user.avatar_url, :height => 30, :width => 30)
			%div{:style=>"margin-left: 35px;"}
				=user.nick
				%p
					%small
						=user.provider
			%div{:style=>"clear:both"}