.container
	%h3 About Guest Book 2.0
	%p
		This is a project I started for two reasons. One was to see how many of the features in this app I could implement in one night. The
		other is to be a dry run for a larger communications application I am currently designing which will incorporate a number of features
		from this application.