= javascript_include_tag("main")
#about.page
  .container
    %h3 About Guest Book 2.0
    %p
      This is a project I started for two reasons. One was to see how many of the features in this app I could implement in one night. The
      other is to be a dry run for a larger communications application I am currently designing which will incorporate a number of features
      from this application.
    %p
      I have since rewrote this application to use the Knockout JS framework. That took more than one
#main.page
  .row
    .span10
      %div{ data: { bind: "visible: logged_in" }}
        %form
          %div
            %textarea.message{rows:4, cols:20, data: { bind: "value: message" }}
          .form_actions
            %button{type: "submit", class: "btn primary", data: { bind: "click: post_message" }}
              Post Message

      .scrollpane
        #wall{data: { bind: "foreach: { data: posts, afterRender: after_post }" }}
          .wall_post{data: { bind: "attr: {id: id}" }}
            %img{data: { bind: "attr: {src: avatar_url}" }}
            .details
              .wall_post_name
                %span{data: { bind: "text: name" }}
                %small{data: { bind: "text: provider" }}
              .wall_post_body{data: { bind: "text: message" }}
              .wall_post_timestamp{ data:{  bind: "text: timestamp, attr: {title: timestamp}" }}
    .span4
      %h3
        Online Users
      #userlist
        %ul.unstyled{data:{ bind: "foreach: users" }}
          %li
            %img{height: 30, width: 30, data: { bind: "attr: { src: avatar_url }" }}
            .details
              %span{ data: { bind: "text: name" }}
              %p
                %small{ data: { bind: "text: provider" }}
