%script{:type => "text/javascript"}
	:plain
		function update() {
		  $.getScript("/updates.js", function(data, textStatus){
				$(".timeago").livequery(function () { $(this).timeago(); });
				$(".alert-message").livequery(function () { $(this).fadeOut(5000)});
			});
		}
		
		function show_more(id) {
		  $.getScript("/show_more.js?id=" + id, function(data, textStatus){
				$(".timeago").livequery(function () { $(this).timeago(); });
				$(".alert-message").livequery(function () { $(this).fadeOut(5000)});
			});
		}
		
		function update_users() {
			$.getScript("/update_users.js");
		}
		
		setInterval("update()", 25000);
		setInterval("update_users()", 60000);
.row
	.span10
		- if current_user
			%div
				=form_for(WallPost.new, :url => create_post_path) do |f|
					%div
						= f.text_area :body, :rows => 4, :cols => 20, :style => "width: 90%"
					%div{:style=>"margin-top: 10px;"}
						= f.submit "Post", :class => "btn primary"
				
		%div
			#wall
				- @posts[:list].each do |post| 
					=render("post", :post => post)
				- if @posts[:has_more]
					%a{:href => "javascript:show_more(#{@posts[:last_id]});", :id => "show_more_link"}
						Show More ...
	.span4
		%h3
			Online Users
		%div{:id=>"userlist"}
			=render("users", :users => User.current_users)
